h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: 900;
    text-align: center;
    text-shadow: 5px 5px 12px red;
}
/* p{
     line-height: 100px;
     letter-spacing: 10px;
     word-spacing: 20px;
} */
