*{
    padding: 0;
    margin: 0;
}
.parent{
    height: 100vh;
    border: 5px solid green;
    background-color: antiquewhite;
    display: flex;
}
.item{
    height: 100px;
    width: 100vh;
    border: 1px solid black;
    padding: 24px;
    font-size: 30px;

}
#item1{
    background-color: crimson;
}
#item2{
    background-color: #dcd914;
}
#item3{
    background-color: rgb(12, 94, 34);
}
#item4{
    background-color: rgb(58, 13, 146);
}
#item5{
    background-color: rgb(220, 20, 127);
}

