.box{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}
.box:hover{
    animation-name: something;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: infinite; */
    animation-direction: normal;
    animation-fill-mode:  backwards;
    animation-play-state: running;
    

}
.box:hover{
    /* animation-play-state: paused; */
}
@keyframes something {
    0%{
        height: 100px;
    }
    25%{
        height: 600px;
    }
    50%{
        height: 400px;
    }
    75%{
        height: 500px;
    }
    100%{
        height: 200px;
        background-color: red;
    }
}