* {
  margin: 0;
  padding: 0;
  /* background-color: #010103; */
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.header {
  background-color: #010103;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .logo img {
  height: 6rem;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}
.header .navbar a:hover {
  color: #d3ad7f;
  border-bottom: 0.1rem solid #d3ad7f;
  padding-bottom: 0.5rem;
}
.header .icons > div {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: #d3ad7f;
}
#menu-btn {
  display: none;
}
/* ------------------  *********** home section start ----************ ------- */


 .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("./images/home-img.jpeg");
    background-size: cover;
    background-position: center;
    
 }
 .home .content{
    max-width: 60rem;
    

 }
 .home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;

 }
 .home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
 }
 .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
 }
 .btn:hover{
    letter-spacing: .2rem;
 }
/* -------------------****************Media Query *********** ------------- */
@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section{
    padding: 2rem;
  }
   
   
}
@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
  }
  .header .navbar a{
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 5rem;
    font-size: 2rem;
  }
  .home{
    background-position: left;
    justify-content: center;
    text-align: center;
  }
  .home .content h3{
    font-size: 4.5rem;
  }
  .home .content p{
    font-size: 1.5rem;
  }

  
}
@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}


 

 
.container {
  position: relative;
  top: 9rem;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
  width: 36%; 
  left: 10rem;
}
#para {
  color: white;
  font-size: 20px;
  /* border: 1px solid white; */
  width: 90%;
  line-height: 1.6em;
  font-family: "Domine", serif;
  font-family: "Ysabeau Office", sans-serif;
}
#button {
  position: relative;
  top: 25%;
  left: 11%;
  padding: 10px 35px;
  background-color: #d3ad7f;
  color: white;
  font-size: 20px;
  
   
}

   
 
main {
  width: 100vw;
  background-color: #030305;
  
}
#main-a {
  text-align: center;
  font-size: 40px;
  color: #d3ad7f;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
  width: 100vw;

  background-color: #010103;
}
#span {
  font-size: 40px;
  background-color: #010103;
  color: white;
}
#middle {
  width: 100%;
  min-height: 450px;
  /* border: 2px solid black; */
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  border: 2px solid white;
  flex-wrap: wrap;
  
   
   
   
}
#div-1,
#div-2 {
  width: 40%;
  height: 450px;
  border: 1px solid blue;
}
#div-1 {
  background-image: url("./images/about-img.jpeg");
  background-position: center right 1px;
}
main,
h2 {
  font-size: 30px;
  font-family: sans-serif;
  padding-top: 3em;
  padding-left: 20px;
  color: rgb(249, 224, 224);
}
main,
p {
  font-size: 20px;
  line-height: 1.5em;
  padding: 20px;
  color: rgb(224, 211, 211);
}
#parag {
  padding-top: 20px;
  padding-left: 20px;
  color: rgb(192, 183, 183);
}
#btn {
  color: white;
  position: relative;
  top: 1em;
  left: 1em;
  border: none;
  padding: 10px 35px;
  background-color: #d3ad7f;
  color: white;
  font-size: 20px;
}
#div-2 {
  background-color: #13131a;
}
/* -------OUR MENU -------- */

#heading {
  width: 100vw;
  height: 70px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#our,
#our-p {
  color: #fff;
  padding: 0px 20px;
}
.menu {
  color: #d3ad7f;
}


.img-class {
  width: 30%;
  height: 90px;
  /* border: 1px solid black; */
  display: flex;
  position: relative;
  top: 14%;
  left: 35%;
}
img {
  width: 100%;
}
h3 {
  width: 70%;
  margin: 20%;
  font-size: 20px;
}
h4 {
  position: relative;
  left: 30%;
  bottom: 15%;
  font-family: "Domine", serif;
  font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Ysabeau Office", sans-serif;
}
strike {
  font-size: 15px;
  color: rgb(160, 149, 149);
}
#btn-A {
  position: relative;
  left: 4rem;
  bottom: 2rem;
  padding: 10px 33px;
  background-color: #d3ad7f;
  color: white;
  font-size: 20px;
}
.div-1:hover {
  background-color: white;
  color: black;
}
#btn-A:hover {
  color: black;
}
.div-B1 {
  width: 20%;
  height: 350px;
  border: 1px solid rgb(172, 161, 161);
}

#sec-B {
  width: 80vw;
  min-height: 100vh;
  /* border: 1px solid rgb(239, 224, 224); */
  background-color: #030305;
  margin: 30px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px auto;
}
.div-1 {
  width: 290px;
  height: 350px;
  border: 1px solid rgb(147, 139, 139);
  /* background-color: steelblue; */
  color: white;
  font-size: 30px;
}
/* -------------- ******** OUT PRODUCTS ******** ------------ */

#products {
  width: 100vw;
  height: 70px;
  /* border: 1px solid rgb(172, 162, 162); */
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin: 30px 0px 0px 0px;
}

#sec-C {
  width: 80vw;
  min-height: 500px;
  /* border: 2px solid rgb(207, 187, 187); */
  background-color: #030305;
  margin: 30px 0px 0px 10%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.div-c {
  width: 400px;
  height: 500px;
  border: 1px solid rgb(147, 139, 139);
}
.icon {
  width: 60%;
  height: 60px;
  /* border: 1px solid red; */
  margin: 20px auto;
  margin-left: 33%;
}
.icon > i {
  border: 1px solid rgb(147, 139, 139);
  padding: 12px 12px;
}

.img-c {
  width: 40%;
  height: 250px;
  /* border: 1px solid white; */
  margin: 0px 0px 50% 33%;
  margin-bottom: 40rem;
}
img {
  width: 100%;
}
#para-c {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  bottom: 40rem;
  left: 30%;
}
#para-d {
  color: #d3ad7f;
  position: relative;
  bottom: 43rem;
  left: 35%;
  width: 40%;
  display: flex;
}
#para-d > i {
  font-size: 15px;
  /* border: 1px solid white; */
  padding: 10px 0.5px;
}
#para-e {
  color: white;
  position: relative;
  bottom: 44rem;
  left: 40%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.icon > i:hover {
  background-color: #d3ad7f;
  color: black;
}

 